include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/nav
		include ../common/rating_part
		include ../common/modal
		include ../common/footer
	// END body