.contacts {
    position: relative;
    padding: 64px 0 25px;
    background: $red;
    font-size: 24px;
    font-weight: 500;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../assets/img/dots-bg.png") no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &__body {
        max-width: 1057px;
        margin: 0 auto;
        padding: 82px 73px 109px 107px;
        display: flex;
        justify-content: space-between;
        background: url("../assets/img/map-bg.png") no-repeat;
        background-size: 100% 100%;
    }
    &__info {
        line-height: 1;
        width: 50%;
        padding-top: 24px;
        padding-right: 20px;
        max-width: 308px;
        li {
            display: flex;
        }
    }
    &__icon {
        display: block;
        width: 35px;
        height: 35px;
        min-width: 35px;
        background-image: url("../assets/img/icons/icon-sprites.png");
        background-repeat: no-repeat; 
    }
    &__adress {
        margin-bottom: 28px;
        .contacts__icon {
            background-position: -39px -6px;         
        }


    }
    &__phone {
        font-weight: 700;
        margin-bottom: 20px;
        .contacts__icon {
            background-position: -157px -11px;
        }
    }
    &__mail {
        .contacts__icon {
            background-position: -115px -6px;
        }
        span {
            font-weight: 900;
        }
    }
    &__map {
        width: 50%;
    }

}
#map {
    width: 100%;
    height: 328px;
}