.header {
    .page__header {
        padding-bottom: 0;
        &:before {
            background-image: url("../assets/img/main-bg.jpg");
        }
       
        &-text {
            position: relative;
            margin: 0;
            // left: -92px;
            height: 41vw;
            padding: 183px 80px 103px 24vw;
            font-size: 30px;
            font-size: 2.2vw;
            text-align: left;
            background-image: none;
            max-width: 911px;
            @media only screen and (min-width: 1518px) {
                height: 623px;
                padding-left: 297px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("../assets/img/main-bg2.png");
                background-repeat: no-repeat;
                background-size: 911px 691px;
                background-position: left center;
                z-index: -1;
            } 
        }
    }
    .wrap {
        position: relative;
        background: url("../assets/img/main-cat.png") no-repeat;
        background-position: top 50px left;
        height: 100%;
        background-size: 34vw;
        @media only screen and (min-width: 1518px) {
            background-size: 500px;
        }
    }
    &__text {
        position: relative;
        // left: -92px;
        text-transform: initial;
        text-align: center;
        max-width: 282px;
        padding-right: 93px;
        margin: 10px auto 10px 10%;
        font-size: 18px;
        font-weight: 700;
        &:before {
            content: "";
            position: absolute;
            right: -1px;
            background-image: url(../assets/img/arrow-right.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 29px;
            width: 104px;
            height: 101px;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
        }

    }
    .kviz-btn {
        top: -8vw;
        margin: -100px 0 20px;
        left: 21%;
        text-transform: uppercase;
        max-width: 330px;
    }
}
.index {
    overflow: hidden;
    .schedule__item {
        margin-right: 10px;
    }
    .header .kviz-btn {
        left: 26%;
        max-width: 262px;
        font-weight: 700;
        a {
            font-size: 22px;
        }
    }
    &__body {
        margin-top: -73px;
        padding: 120px 0;
        background: #ff004c;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
             height: 100%;
            background: url(../assets/img/dots-bg-linear.png);
            background-size: 100%;
            z-index: -3;
        }
        .title {
            margin-bottom: 27px;
        }
        .schedule__item .kviz-btn {
            display: block;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            max-width: 204px;
        }


    }
    .kviz-btn a {
        font-size: 18px
    } 
    &__soon {
        max-width: 1034px;
        margin: 0 auto;
        .kviz-btn a {
            font-size: 13px;
        }
        .schedule__item {
            padding: 10px;
        }
        .schedule__part {
            font-size: 13px;
            width: 48%;
        }
        .schedule__descr {
            font-size: 13px;
        }
        .schedule__item-top {
            font-size: 19px;
        }
        .kviz-btn.kviz-btn--blue a {
            font-size: 16px;

        }
        .kviz-btn.kviz-btn--red a {
            font-size: 11px;
        }
    }
    &-map {
      
        font-size: 18px;
        font-weight: 500;
        &__item {
            background: #fff;
            border-top: 10px solid #000;
            border-bottom: 10px solid #000;
            position: relative;
            // z-index: 1;
            &:before, &:after {
                content: "";
                position: absolute;
                top: -10px;
                width: 20%;
                height: 100%;
                background-color: #fff;
                border-top: 10px solid #000;
                border-bottom: 10px solid #000;
                
            }
            &:before {
                left: -25px;
                transform: skew(5deg, 0deg);
                border-left: 10px solid #000;
                z-index: -1;
            }
            &:after {
                right: -47px;
                transform: skew(-12deg,0deg);
                border-right: 10px solid #000;
                z-index: -2;
            }
            &-wrap {
                padding: 80px 86px 20px 50px;
            }
        }
        &__arrow {
            position: relative;
            display: flex;
            justify-content: space-between;
            
            &:after {
                content: "";
                position: absolute;
                top: -53px;
                width: 38px;
                height: 81px;
                background-color: #fff;
                background: linear-gradient(115deg,#fff 50%,rgba(255,255,255,0) 50%);
                border-top: 10px solid #000;
                left: 5%;
                transform: skew(-15deg, 65deg);
                border-left: 4px solid #000;
                pointer-events: none;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding-top: 24px;
            padding-bottom: 13px;
        }
        &__top {
            display: flex;
            align-items: center;
            
            padding-bottom: 13px;
        }
        &__name {
            font-size: 30px;
            flex-basis: 0;
            flex-grow: 1;
        }
        &__date {
            display: flex;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
        }
        &__price {
            display: flex;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
            font-size: 30px;
            .contacts__icon {
                background-position: -350px -6px;
                width: 54px;
            }
        }
        &__place {
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            
            .contacts__icon {
                background-position: -35px -6px;
            }
        }

        &__level {
            padding: 0 20px;
            font-size: 16px;
            margin-bottom: auto;
        }
        &__pic {
            width: 40%;
            max-width: 324px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__descr {
            padding: 0 10px;
            margin-top: auto;
            margin-bottom: 22px;
        }

    }
       
    .arrow-prev {
        left: -32px;
    }
    .arrow-next {
        right: -17px;
    }
    .kviz-btn {
        margin-top: 30px;
    }
    &-maps {
        min-height: 328px;
    }
    &-map {
        width: 100%;
        min-height: 328px;
        position: relative;
        top: -45px;
        max-width: 1040px;
        margin: 0 auto;
    }
    &__what {
        margin-top: -70px;
        position: relative;
        padding-top: 172px;
        padding-bottom: 100px;
        font-weight: 600;
        background: url(../assets/img/main-what.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
        .wrap {
            position: relative;
            z-index: 1;
            background: url(../assets/img/main-what-cat.png);
            background-repeat: no-repeat;
            background-size: 600px;
            background-position: center;
            &:before {
                content: "";
                position: absolute;
                top: -181px;
                width: 182px;
                height: 217px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                z-index: 1;
                left: 0;
                background-image: url(../assets/img/arrow-left-big.png);
            }            

        }
        &-items {
            position: relative;
            height: 800px;
            &+.kviz-btn {
                margin-top: -150px;
            }
        }
        &-item {
            position: absolute;
            max-width: 320px;
            text-align: center;
            padding: 74px 71px 61px;
            background-position: center;
            background-repeat: no-repeat;
            &:nth-child(1) {
                padding: 51px 59px 61px;
                top: 10%;
                right: 20%;
                background-image: url(../assets/img/sky5.png);
            }
            &:nth-child(2) {
                padding: 74px 39px 61px 72px;
                top: 31%;
                right: 12%;
                background-image: url(../assets/img/sky6.png);
            }
            &:nth-child(3) {
                top: 50%;
                right: 12%;;
                background-image: url(../assets/img/sky7.png);
            }
            &:nth-child(4) {
                top: 65%;
                right: 25%;
                background-image: url(../assets/img/sky8.png);
            }
            &:nth-child(5) {
                padding: 51px 59px 61px;
                top: 10%;
                left: 17%;
                background-image: url(../assets/img/sky1.png);
            }
            &:nth-child(6) {
                padding: 63px 79px 61px 41px;
                top: 28%;
                left: 14%;
           
                background-image: url(../assets/img/sky2.png);
            }
            &:nth-child(7) {
                top: 50%;
                left: 12%;
                background-image: url(../assets/img/sky3.png);
            }
            &:nth-child(8) {
                top: 64%;
                left: 23%;
                background-image: url(../assets/img/sky4.png);
            }
        }
    }
    &__video {
        position: relative;
        background: #14a1cc;
        padding: 100px 0;
        &:after {
            content: "";
            position: absolute;
            top: -56px;
            left: 0;
            width: 110%;
            height: 136px;
            transform: skew(0deg,3deg);
            background: #14a1cc;
            border-top: 10px solid #000;
            z-index: 1;
        }
        .wrap {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: -244px;
                width: 182px;
                height: 217px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                z-index: 2;
                right: 0;
                background-image: url(../assets/img/arrow-right-big.png);
            }
        }
        &-body {
            position: relative;
            max-width: 650px;
            margin: 0 auto;
            &:before {
                content: "";
                position: absolute;
                width: 123%;
                height: 124%;
                top: -8%;
                left: -14%;
                background: #ffee1a;
                border: 10px solid #000;
                transform: skew(4deg,0deg) perspective(663px) rotatex(-16deg) rotateY(-2deg);
            }            
        }
        .title {
            margin-bottom: 100px;
        }
    }
    &__example {
        position: relative;
        font-weight: 600;
        margin-top: -39px;
        padding-top: 150px;
        padding-bottom: 150px;
        background: url(../assets/img/example/bg-example.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: 1;
        .wrap {
            position: relative;
        }
        &-slider {
            max-width: 1050px;
            margin: 0 auto;;
        }
        .kviz-btn a {
            padding: 5px 29px;
        }
        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 384px;
            padding: 41px 52px 55px 47px;
            .kviz-btn {
                margin-top: auto;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 100% 100%;
                z-index: -1;
                background-image: url(../assets/img/example/bg-examp1.png);
            }
            &--first {
                padding:41px 68px 55px 47px;
                &:before {
                    background-image: url(../assets/img/example/bg-examp1.png);
                }
            }
            &--second {
                padding: 41px 52px 55px 47px;
                &:before {
                    background-image: url(../assets/img/example/bg-examp2.png);
                }
            }
            &--third {
                padding: 41px 51px 55px 84px;
                &:before {
                    background-image: url(../assets/img/example/bg-examp3.png);
                }
            }
        }
        &-pic {
            margin: auto;
            position: relative;
            img {
                
                max-width: 100%;

            }
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                width: 100%;
                height: 100%;
                background: #000;
                z-index: -1;
            }
        }
        &-audio {
            margin: auto;
            a {
                display: block;
                width: 80px;
                height: 80px;
                background: url(../assets/img/example/audio.png) no-repeat;
                background-position: center;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &__qa {
        margin-top: -73px;
        padding: 136px 0 56px;
        background: #ff004c;
        position: relative;
        .title {
            margin-bottom: 40px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 16px;
            left: 0;
            width: 110%;
            height: 106px;
            transform: skew(-4deg,2deg);
            background: #ff004c;
            border-top: 10px solid #000;
            z-index: 1;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -63px;
            left: 0;
            width: 110%;
            height: 106px;
            transform: skew(-4deg,2deg);
            background: #ff004c;
            border-bottom: 10px solid #000;
            z-index: 1;
        }
    }
    &__vk {
        padding: 159px 0 0;
        position: relative;
        background: #088cb3;
        .title {
            max-width: 650px;
            margin-bottom: 40px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -84px;
            left: 0;
            width: 110%;
            height: 136px;
            transform: skew(0deg,5deg);
            background: #ff004c;
            border-top: 10px solid #000;
        }
        &-body {
            padding: 40px;
            background: $yellow;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 725px;
            margin: 0 auto;
            border-top: 10px solid #000;
            border-bottom: 10px solid #000;
            position: relative;
            z-index: 1;
            &:before, &:after {
                content: "";
                position: absolute;
                top: -10px;
                width: 25%;
                height: 100%;
                background-color: $yellow;
                border-top: 10px solid #000;
                border-bottom: 10px solid #000;
                
            }
            &:before {
                left: -50px;
                transform: skew(8deg, 0deg);
                border-left: 10px solid #000;
                z-index: -1;
            }
            &:after {
                right: -80px;
                transform: skew(-15deg,0deg);
                border-right: 10px solid #000;
                z-index: -2;
            }
            &-wrap {
                position: relative;
                z-index: 1;
                &:before {
                    content: "";
                    position: absolute;
                    top: 19px;
                    right: 12%;
                    width: 61%;
                    height: 100%;
                    transform: skew(-16deg,0deg);
                    background: url(../assets/img/dots.jpg);
                    z-index: -2;
                }
            }

        }
        &-item {
            position: relative;
            padding: 0 5px;
            img {
                max-width: 100%;
                margin: 0 auto;
            }
            &-wrap {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                }
            }       
        }
        &-nav {
            width: 60%;

        }
        &-calendar {
            width: 38%;
            min-height: 345px;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            li {
                border: 2px solid red;
                border-radius: 50%;
                margin: 3px;
                width: 16px;
                height: 16px;
                button {
                    background: transparent;
                    border: none;
                    font-size: 0;
                    outline: none;

                }
                &.slick-active {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 8px;
                        height: 8px;
                        background: red;
                        border-radius: 50%;
                    }
                }
            }
        }
        &-text {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 35px 25px;
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
        }
        &-name {
            font-weight: 600;
            margin-bottom: 8px;
        }
        &-date {

        }
    }
    &__inst {
        padding: 100px 0 120px;
        background: #ff004c;
        .title {
            max-width: 687px;
            margin-bottom: 40px;

        }
        &-body {
            max-width: 1020px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                width: 100%;
                height: 100%;
                background: url(../assets/img/dots.jpg);
                z-index: -2;
            }
            .arrow-prev {
                left: -57px;
            }
            .arrow-next {
                right: -63px;
            }
        }
    }
    &-wrap {
        background: $yellow;
        border: 10px solid #000;
             padding: 15px 10px 10px;
        }
}
.index .index-map {
    &+.kviz-btn {
        max-width: 237px;
        margin-top: -45px;
        a {
            padding: 12px 15px;
        }
       
    }
}

.accordeon__item {
    margin: 0 auto 37px;
    max-width: 900px;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 10px;
        right: -63px;
        width: 83%;
        height: 100%;
        transform: skew(14deg, 0deg);
        background: url(../assets/img/dots.jpg);
        z-index: -2;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: -34px;
        width: 86%;
        height: 100%;
        transform: skew(-19deg,0deg);
        background: url(../assets/img/dots.jpg);
        z-index: -2;
    }
    &-wrap {
        background: $yellow;
        border-top: 10px solid #000;
        border-bottom: 10px solid #000;
        position: relative;
        z-index: 1;
        
        &:before, &:after {
            content: "";
            position: absolute;
            top: -10px;
            width: 50%;
            height: 100%;
            background-color: $yellow;
            border-top: 10px solid #000;
            border-bottom: 10px solid #000;
            
        }
        &:before {
            left: -50px;
            transform: skew(-17deg, 0deg);
            border-left: 10px solid #000;
            z-index: -1;
        }
        &:after {
            right: -50px;
            transform: skew(14deg,0deg);
            border-right: 10px solid #000;
            z-index: -2;
        }
        
    }

        
    &:nth-child(4n+1) {
        &:before {
            transform: skew(14deg,0deg);
        }
        &:after {
            transform: skew(25deg,0deg);
        }
        .accordeon__item-wrap {
            &:before {
                transform: skew(25deg,0deg);
            }
            &:after {
                transform: skew(11deg,0deg);
            }
        }
    }

    &:nth-child(4n+2) {
        &:before {
            transform: skew(-26deg,0deg);
            right: -56px;
        }
        &:after {
            transform: skew(-28deg,0deg)
        }
        .accordeon__item-wrap {
            &:before {
                transform: skew(-28deg,0deg)
            }
            &:after {
                transform: skew(-26deg,0deg);
            }
        }
    }
    &:nth-child(4n+3) {
        &:before {
            transform: skew(21deg,0deg);
        }
        &:after {
            transform: skew(-30deg,0deg);
        }
        .accordeon__item-wrap {
            &:before {
                transform: skew(-30deg,0deg);
            }
            &:after {
                transform: skew(21deg,0deg);
            }
        }
    }
    &:nth-child(4n+4) {
        &:before {
            transform: skew(-26deg,0deg);
            right: -57px;
        }
        &:after {
            transform: skew(25deg,0deg);
        }
        .accordeon__item-wrap {
            &:before {
                transform: skew(25deg,0deg);
            }
            &:after {
                transform: skew(-26deg,0deg);
            }
        }
    }
    &:nth-child(4n+5) {
        &:before {
            transform: skew(11deg,0deg);
        }
        &:after {
            transform: skew(-20deg,0deg);
        }
        .accordeon__item-wrap {
            &:before {
                transform: skew(-20deg,0deg);
            }
            &:after {
                transform: skew(11deg,0deg);
            }
        }
    } 
}
  
  .active >.accordeon__item-wrap > .accordeon__title {
  
    &:after {
      transform: rotate(180deg);
      transition: all ease .2s;
    }
  }
  
  .accordeon__title {
    position: relative;
    cursor: pointer;
    padding: 17px;
    font-weight: 700;
    font-size: 30px;
    &:after {
      position: absolute;
      top: 28px;
      right: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #000 transparent transparent transparent;
      content: '';
      transition: all ease .3s;
    }
  }
    
  .accordeon__content {
    padding: 17px;
    font-size: 24px;
  }
  .ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
      font-weight: 600;
      border: none;
      background: transparent;
      border-radius: 50%;
      width: 39px;
      height: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
      background: #ff004c;
      border: none;
  }
  .ui-datepicker-header {
    .ui-datepicker-prev {
        width: 0;
        height: 0;
        top: 6px;
        border-right: 10px solid #000;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 5px solid transparent;
    }
    .ui-datepicker-next {
        width: 0;
        height: 0;
        top: 6px;
        border-left: 10px solid #000;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 5px solid transparent;
    }
  }
  .ui-widget-content {
      background: transparent;
      .ui-state-hover {
        transform: scale(1.1);
        background: none;
      }
  }
  .ui-widget.ui-widget-content {
      border: none;
  }
  .ui-state-default.ui-state-active {
    background: #ff004c;
  }
  .ui-widget-header {
      background: transparent;
      border: none;
  }

  //video youtube
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}