nav {
    background-color: $black;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    a {
        color: #fff;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__city {
        position: absolute;

        top: 9px;
        left: 14px;
        padding-left: 23px;
        font-weight: 400;
        text-decoration: underline;
        background: url("../assets/img/icons/city.png") no-repeat left top;
        &:hover {
            text-decoration: none;
        }

    }
    &__mobile {
        display: none;
    }
}
.city {
    position: absolute;
    &__text {
        padding: 5px;
        cursor: pointer;
    }
    &-search {
        background: #fff;
        position: absolute;
        top: -20px;
        right: 5%;
        padding: 2px;
        &:before {
            content: "";
            position: absolute;
            top: 6px;
            right: 4px;
            width: 27px;
            height: 21px;
            background: url('../assets/img/icons/glass.png') no-repeat;
            background-position: center right;
            background-size: 87%;
            z-index: 1;
        }
        
        
        input {
            border: none;
            padding: 5px;
            background: transparent;
        }
    }
    &__item {
        color: #fff;
        cursor: pointer;
        padding: 8px;
        width: 30%;
        &:hover {
            color: #ffee1a;
        }
    }
    .city__wrap {
        position: absolute;
        top: 20px;
        left: 0;
        width: 700px;
        flex-wrap: wrap;
        padding: 10px;
        display: none;
        background: #010101;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        z-index: 2;

        &.active {
            display: flex;
            overflow: auto;
        }
    }


}
.menu-toggle {
    display: none;
}
.menu-wrap {
    width: 100%;
}
.toggle-menu {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    position: relative;
    ul {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    a  {
        display: block;
        padding: 16px;
    }
    .logo {
        flex-grow: 1;
        text-align: center;
        a {
            padding: 8px 8px 10px;
        }
    }
}
