nav {
    background-color: $black;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    a {
        color: #fff;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__city {
        position: absolute;

        top: 9px;
        left: 14px;
        padding-left: 23px;
        font-weight: 400;
        text-decoration: underline;
        background: url("../assets/img/icons/city.png") no-repeat left center;
        &:hover {
            text-decoration: none;
        }
        &-select {
            padding: 5px;
        }
    }
    &__mobile {
        display: none;
    }
}
.menu-toggle {
    display: none;
}
.menu-wrap {
    width: 100%;
}
.toggle-menu {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    position: relative;
    ul {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    a  {
        display: block;
        padding: 16px;
    }
    .logo {
        flex-grow: 1;
        text-align: center;
        a {
            padding: 8px 8px 10px;
        }
    }
}
