@import "vars";

@media only screen and (max-width: 1363px) {
    .wrap {
        padding: 0 20px;
    }
    nav .wrap {
        padding-bottom: 10px;
    }
    .header__text {
        margin: 10px auto 10px auto;
    }
    .logo {
        width: 200px;
        flex-grow: 0;
        a {
            display: block;
            
            img {
                width: 100%;
            }
        }
    }
    .main-menu {
        font-size: 12px;
        a {
            padding: 8px;
        }
        .logo {
            flex-grow: 0;
            a {
                padding: 10px 8px 0;
            }
        }
    }
    .footer__menu a {
        padding: 8px;
        font-size: 15px;
    }
    .corporate__gallery {
        width: 80%;
        max-width: 905px;
        margin: 50px auto 0;
        &:before {
            top: 1%;
            left: 5%;
            height: 102%;
            width: 83%;
            background: linear-gradient(56deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
        }
        &:after {
            width: 98%;
            height: 107%;
            left: -2%;
            background: linear-gradient(53deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
        }
    }
}
@media only screen and (max-width: 1239px) {
    .partners {
        &__whom-item {
            &:nth-child(1) {
                &:before {
                    right: -9%;
                }
            }
            &:nth-child(2) {
                &:after {
                    right: -19%;
                    width: 149%;
                    height: 194%;
                    background: linear-gradient(40deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
                }
                &:before {
                    top: -24%;
                    right: -2%;
                    width: 121%;
                    height: 174%;
                    background: linear-gradient(40deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
                }
            }
            &:nth-child(3) {
                &:before {
                    top: -28%;
                    left: -12%
                }
                &:after {
                    left: -13%;
                }
            }
        }
    }
    .corporate {
        &__gallery {
            width: 450px;
            &:before {
                top: 2%;
                width: 90%;
                background: linear-gradient(37deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
            }
            &:after {
                left: 2%;
                background: linear-gradient(38deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
            }
        }
        &__item-wrap {
            &:nth-child(2n+1), &:nth-child(2n) {
                top: 0;
            }
        }
    }
    .jq-selectbox__trigger-arrow {
        border-width: 5px;
        right: -9px;
    }
    .index {
        &__qa {
            .wrap {
                max-width: 82%;
            }
        } 
        &__what-item {
            &:nth-child(1) {
                top: 4%;
                right: -6%;
            }     
            &:nth-child(2) {
                top: 25%;
                right: -6%;
            }   
            &:nth-child(3) {
                top: 56%;
                right: -6%;
            }   
            &:nth-child(4) {
                top: 78%;
                right: 11%;;
            } 
            &:nth-child(5) {
                top: 5%;
                left: -6%;
            }
            &:nth-child(6) {
                top: 24%;
                left: -6%;
            }
            &:nth-child(7) {
                top: 56%;
                left: -6%;
            }
            &:nth-child(8) {
                top: 78%;
                left: 9%;
            }
        }
        
    }
    .sertificate__gifts, .sertificate__atribs {
        max-width: 400px;
    }
    .corporate__partners-slider {
        max-width: 500px;
    }
}
@media only screen and (max-width: 1092px) {
    .jq-selectbox__select {
        max-width: 180px;
    }    
    .rating .schedule__item-wrap {
        width: 50%;
    }
    .header__text:before {
        right: -12%;
        top: 9px;
    }
}

@media only screen and (max-width: 1023px) {
    nav {
        .wrap {
            padding: 0 0 10px;
        }
        .logo {
            width: 124px;
        }
    }
    .menu-toggle {
        display: block;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 8px;
        left: 15px;
        cursor: pointer;
        z-index: 4;
        .one, .two, .three {
            width: 100%;
            height: 3px;
            background: #14a1cc;
            margin: 6px auto;
            backface-visibility: hidden;
            transition-duration: .3s;
        }
        &.active {
            top: 16px;
            right: 25px;
            left: auto;
            border-radius: 50%;
            background: #ff004c;
            padding-top: 7px;
            .one,
            .three {
                width: 50%;
                margin: 8px auto;
            }
            .one {
                transform: rotate(45deg) translate(0,1px);
            }
            .two {
                opacity: 0;
            }
            .three {
                transform: rotate(-45deg) translate(14px,-15px);
            }
        }
    }
    .city-search {
        top: 10px;
    }
    .main-menu {
        display: none;
        &.active {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(32, 164, 195, 0.95);
            z-index: 3;
            left: 0;
            top: 0;
            padding: 15px;
            ul {
                flex-direction: column;
                align-items: flex-start;
                text-align: center;
            } 
            .city__wrap {
                text-align: left;
                padding-top: 53px;
                flex-direction: row;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
            .logo {
                display: none;
            }
            .nav__city {
                position: static;
            }
        }
    }
    .menu-wrap {
        padding: 15px 25px 0;
    }
    .nav {
        &__mobile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__phone {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #14a1cc;
            position: absolute;
            right: 25px;
            top: 10px;
        }
    }
    .contacts {
        &__body {
            flex-wrap: wrap;
            padding: 82px 20px 74px 20px;
        }
        &__info {
            width: 100%;
            margin: 0 auto 40px;
        }
        &__map {
            width: 90%;
            margin: 0 auto;
        }
    }
    .footer {
        padding-left: 0;
        padding-right: 0;
        &__menu {
            flex-direction: column;
            align-self: flex-start;
        }
    }
    .partners {
        &__whom {
            margin-bottom: 0;
            &-item {
                padding: 20px 42px;
                &:nth-child(1) {
                    &:before {
                        right: 5%;
                        height: 123%;
                        top: -38%;
                    }
                }
                &:nth-child(2) {
                    &:after {
                        right: -5%;
                        width: 113%;
                        height: 152%;
                        background: linear-gradient(47deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
                    }
                    &:before {
                        top: -24%;
                        right: 12%;
                        width: 83%;
                        height: 135%;
                        background: linear-gradient(48deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
                    }
                }
                &:nth-child(3) {
                    &:before {
                        top: -31%;
                        left: 7%;
                        height: 148%;
                    }
                    &:after {
                        left: 4%;
                    }
                }
            }
        }
    }
    .index {
        &__soon {
            max-width: 90%;
        }
        &-map {
            &__pic {
                display: none;
            }
            &__info {
                width: 100%;
            }
        }
        &__vk {
            &-full {
                display: none;
            }
            &-nav {
                width: 100%;
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}
@media only screen and (max-width: 980px) {
    .title {
        font-size: 27px;
    }
    .partners {
        &__how {
            &:after {
                background-size: 45%;
            }
        }
    }
    .franchise {
        &__body {
            padding-bottom: 17px;
            background: #ff004c url(../assets/img/dots-bg-linear.png) no-repeat;
            background-size: cover;
            &:after {
                background: #ff004c url(../assets/img/dots-bg-linear.png) no-repeat;
                background-size: cover;  
            }
        }
        &__video {
            &-shadow {
                max-width: 73%;
            }
            &-wrap {
                &:after {
                    top: -15%;
                    left: -3%;
                    width: 113.5%;
                    background: linear-gradient(145deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
                }
                &:before {
                    background: linear-gradient(150deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
                }
            }

        }
        &__why {
            &-img {
                display: none;
            }
            &-item {
                width: 90%;
                margin: 0 auto 40px;
                align-items: center;
                &:before {
                    border-width: 5px;
                }
                p {
                    padding: 5px 5px 20px 5px;
                    width: 100%;
                    &:after {
                        content: none;
                    }
                }
                &:nth-child(odd) {
                    &:before {
                        transform: skew(10deg, 0deg);
                    }
                }
                &:nth-child(even) {
                    &:before {
                        transform: skew(10deg, 0deg);
                    }
                }
                &:nth-child(4) p {
                    width: 100%;
                }
            }
        }
    }  
    .rating {
        .jq-selectbox {
            &__select {
                max-width: 90%;
                border-width: 5px;
                &:before, &:after {
                    border-width: 5px;
                    top: -5px;
    
                }
            }
           &__dropdown {
                border-width: 5px;
            }
        }
        .schedule {
            &__filters {
                flex-wrap: wrap;
                flex-direction: column;
            }
            &__filter {
                margin-bottom: 10px;
            }
            &__items {
                padding-top: 25px;
            }
            &__item {
                font-size: 15px;
                border-width: 5px;
                margin-right: 0;
                width: 98%;
                &-wrap {
                    width: 100%;
                    &:after {
                        width: 96%;
                    }
                }
            }

        }
        .jq-selectbox__select {
            max-width: none;
        }
        .jq-selectbox {
            max-width: none;
            margin-bottom: 10px;
        }
    } 
    .filter-search-wrap {
        margin: 0 0 10px;
        max-width: 100%;
    }
    .filter-search input {
        max-width: none;
    }
    .header__text {
        display: none;
    }
    .header {
        .wrap {
            background-image: url(../assets/img/cat-wellcome-mob-left-mini.png);
            background-size: 100vw;
            background-position: 0 0;
        }
        .page__header-text {
            height: 100vh;
            padding-left: 29vw;
            max-width: 95%;
            font-size: 3.6vw;
        }
        .kviz-btn {
            top: -12vw;
            left: 30%;
        }
    }
    .index {
        .header{
            .kviz-btn {
                bottom: 11vw;
                top: auto;
                left: 37%;
                a {
                    font-size: 21px;
                    padding: 9px 10px;
                }
            }
        }
    } 
    .accordeon {
        &__title {
            font-size: 22px;
        }
        &__content {
            font-size: 19px;
        }
    }
    .sertificate {
        padding-top: 12px;
        .title {
            font-size: 24px;
        }
        .sertificate__gifts {
            margin: 0 auto;
        }
    }
    .subtitle {
        font-size: 22px;
    }
}
@media only screen and (max-width: 749px) {
    .index__example-slider {
        max-width: 80%;
    }
}
@media only screen and (max-width: 720px) {
    .corporate__header:before {
        background-size: 168vw;
    }
    .index {
        .header .page__header-text {
            padding: 17vw 2vw 10vw 28vw;
        }
        &__what {
            padding-top: 0;
            position: relative;
            background: #ff004c;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/img/dots-bg-linear.png) no-repeat;
                background-size: cover;
                z-index: -1;
            }
            &-items {
                background: url(../assets/img/index-what.png) no-repeat;
                background-size: 100vw;
                height: 159vw;                
            }
            
            .title {
                padding: 100px 0;

                background: #14a0cc;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -63px;
                    left: 0;
                    width: 110%;
                    height: 106px;
                    transform: skew(0deg,3deg);
                    background: #14a0cc;
                    border-top: 5px solid #000;
                }
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -63px;
                    left: 0;
                    width: 110%;
                    height: 147px;
                    transform: skew(0deg,-6deg);
                    background: #14a0cc;
                    border-bottom: 5px solid #000;
                }
            }
            .wrap {
                padding: 0;
                background-image: none;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -20vw;
                    left: 0;
                    width: 110%;
                    height: 70vw;
                    transform: skew(0deg,23deg);
                    background: #14a0cc;
                    border-top: 5px solid #000;
                    z-index: -1;
                }
            }
        }
        &__example {
            background: #ff004c;
            &:after {
                content: "";
                position: absolute;
                top: -43px;
                left: 0;
                width: 110%;
                height: 147px;
                transform: skew(0deg,-6deg);
                background: #ff004c;
                border-top: 5px solid #000;
            }
            .wrap:after {
                content: none;
            }
            &-item {
                min-height: 95vw;
                padding: 18vw 20vw 16vw 20vw;
            }
        }
        &__qa {
            &:before {
                height: 5px;;
                transform: skew(0deg,-11deg);
            }
            &:after {
                transform: skew(0deg,-5deg);
            }
            
        } 
        &__vk {
            &-body {
                padding: 15px;
                border: 5px solid #000;
                &:before, &:after {
                    content: none;
                }
                &-wrap:before {
                    right: -15px;
                    width: 100%;
                    transform: skew(0deg,0deg);
                }
            }
            &:after {
                content: none;
            }
        }
        &_inst {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -75px;
                left: 0;
                width: 110%;
                height: 126px;
                transform: skew(-4deg,4deg);
                background: #088cb3;
                border-bottom: 10px solid #000;
            }
        }
    }
    .city {
        .city__wrap {
            width: 100%;
            padding-right: 65px;
            height: 100vh;
        }
        &-search {
            right: auto;
            left: 17px;
        }
    }
}
@media only screen and (max-width: 720px) {
    .partners {
        &__whom {
            margin-bottom: 0;
            &-item {
                max-width: 155px;
                padding: 0;
                position: absolute;
                &:nth-child(1) {
                    bottom: 95px;
                    left: 0;
                    &:before {
                        content: none;
                    }
                    .partners__icon {
                        max-width: 31px;
                    }
                }
                &:nth-child(2) {
                    bottom: 95px;
                    right: 0;
                    &:after {
                        content: none;
                    }
                    &:before {
                        content: none;
                    }
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, 0);
                    &:before {
                        content: none;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
            .items {
                position: relative;
                max-width: 281px;
                height: 230px;
                margin: 0 auto;
                font-size: 16px;
                z-index: 1;
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                }
                &:before {
                    top: 28%;
                    left: -4%;
                    width: 100%;
                    height: 78%;
                    transform: skew(8deg,10deg);
                    background: linear-gradient(33deg, $yellow 50%, rgba(255, 255, 255, 0) 50% );
                    border-left: 5px solid #000;
                    border-bottom: 5px solid #000;
                }
                &:after {
                    top: 11%;
                    left: -12%;
                    width: 116%;
                    height: 107%;
                    transform: skew(-5deg,-3deg);
                    background-color: $yellow;
                    background: linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, $yellow 50%);
                    border-right: 5px solid #000;
                    border-top: 5px solid #000;
                }  
            }
        }
        &__text {
            margin-bottom: 8px;
        }
        
        
        &__icon {
            max-width: 41px;
            min-height: 47px;
        }
        &__whom {
            position: relative;
            padding: 86px 0;
        }
    }
    .schedule {
        padding: 25px 0;
        &:after {
            content: none;
        }
        .title {
            margin-bottom: 25px;
        }
        &__filters {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        &__filter {
            margin-bottom: 10px;
        }
        &__items {
            padding-top: 25px;
        }
        &__item {
            font-size: 15px;
            border-width: 5px;
            margin-right: 0;
            width: 98%;
            &-wrap {
                width: 100%;
                &:after {
                    width: 96%;
                }
            }
            &-top {
                font-size: 22px;
            }
        }
        &_descr {
            font-size: 14px;
        }
    }
    .jq-selectbox {
        &__select {
            max-width: 90%;
            border-width: 5px;
            &:before, &:after {
                border-width: 5px;
                top: -5px;

            }
        }
       &__dropdown {
            border-width: 5px;
        }
    }
    .index {
            &__what-items {
            height: 241vw;
        }
        &__what-item {
            max-width: 380px;
            background-size: 96%;
            padding: 67px 68px 87px;
            &:nth-child(1) {
                top: -4%;
                right: 11%;
                padding: 67px 68px 87px;;
            }     
            &:nth-child(2) {
                padding: 67px 64px 69px 107px;
                top: 8%;
                right: 2%;
            }   
            &:nth-child(3) {
                top: 24%;
                right: -3%;
                background-size: 85%;
                padding: 87px 68px 73px;
            }   
            &:nth-child(4) {
                top: 36%;
                left: 21%;
                background-size: 71%;
                padding: 67px 71px 67px;
            } 
            &:nth-child(5) {
                background-size: 89%;
                padding: 69px 59px 78px;
                top: 48%;
                left: 1%;
            }
            &:nth-child(6) {
                padding: 92px 108px 87px 54px;
                background-size: 98%;
                top: 58%;
                left: 1%;
            }
            &:nth-child(7) {
                top: 71%;
                left: 0%;
                background-size: 79%;
                padding: 97px 98px 86px;
            }
            &:nth-child(8) {
                top: 83%;
                left: 24%;
                background-size: 99%;
                padding: 75px 68px 65px;
            }
        }
        .index-map+.kviz-btn {
            margin-top: -18px;
            margin-bottom: 52px;
        }
    }
    
}
@media only screen and (max-width: 580px) {
    body {
        font-size: 16px;
    }
    .kviz-btn {
        max-width: 230px;
        width: 230px;
        a {
            font-size: 23px;
            
            padding: 5px 12px;
        }
        
    }
    .title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .contacts {
        padding-top: 31px;
        font-size: 20px;
        &__body {
            padding: 51px 19px 50px 28px;
        }
        &__map {
            width: 100%;
        }

        
    }
    .footer {
        padding: 45px 0 16px;
        &__menu {
            order: -1;
            padding-bottom: 40px;
            a {
                padding: 11px 0;
                font-size: 18px;
            }
        }
        .social {
            order: -1;
        }
        .contacts__icon {
            transform: scale(1.4);
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
        .logo {
            margin-top: 40px;
            margin-bottom: 13px;
            width: 146px;
        }
        .footer__text {
            font-size: 10px;
            text-align: center;
        }
        &__logo {
            width: 100px;
            margin: 0 auto 15px;
            img {
                max-width: 100%;
            }
        }
        
    }
    #map {
        height: 233px;
    }
    .page {
        &__header {
            padding-bottom: 32px;
            border-bottom-width: 5px;
            .wrap {
                padding: 0;
            }
            &-text {
                height: 430px;
                padding: 17vw 7vw 2vw 27vw;
                max-width: none;
                background-image: url(../assets/img/cat-wellcome-mob-left-mini.png);
                background-position: top left;
            }
            .kviz-btn {
                top: -180px;
                z-index: 1;
                &:before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    z-index: -1;
                }
            }
        }
    }
    .partners {

        &__whom {
            padding: 84px 0 64px;
            margin-top: -251px;
        }
        &__body {
            margin-top: 0;
            border-top: none;
        }
        &__how {
            font-size: 18px;
            padding: 25px 25px 25px 0;
            &:after {
                background: none;
            }
            p {
                min-height: 123px;
                margin-bottom: 33px;
                padding: 31px 10% 15px 33px;
                &:before {
                    border-width: 5px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 17px;
                    right: -18px;
                    width: 100%;
                    height: 100%;
                    transform: skew(6deg,0deg);
                    background: url(../assets/img/dots.jpg);
                    z-index: -2;
                }
            }
            p:nth-child(even):before,
            p:nth-child(odd):before {
                transform: skew(6deg,0deg);
            }
        }
    }
    .franchise {
        .page__header-text {
            height: 372px;
        }
        .page__header .kviz-btn {
            top: -97px;
        }
    }
    .corporate {
        &__header {
            padding-bottom: 0;
        }
        .page__header {
            padding-bottom: 0px;
            &-text {
                padding-top: 18vw;
            }
            .kviz-btn {
                top: -133px;
                text-transform: uppercase;
                a {
                    font-size: 18px;
                }
            }
        }
        .page__directions {
            margin-bottom: 15px;
        }
        &__gallery {
            width: 315px;
            padding-top: 21px;
            &:after {
                left: -2%;
                top: -4%;
                width: 103%;
                height: 88%;
                border-width: 5px;
                transform: skew(1deg,-1deg);
                background: linear-gradient(42deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
            }
            &:before {
                width: 100%;
                left: 0;
                top: -2%;
                height: 87%;
                border-width: 5px;
                transform: skew(3deg,0deg);
                background: linear-gradient(42deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
            }
        }
        &__body {
            padding-bottom: 0;
            .wrap {
                padding: 0 5px;
            }
            &:after {
                content: none;
            }
        }
        &__header {
            padding-top: 63px;
        }
        &__qa {
            background: #18a1cd;
            padding-bottom: 58px;
            z-index: 1;
            &:after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../assets/img/dots-bg-linear.png) no-repeat;
                // background-size: 200%;
                // transform: rotate(101deg);

                border-top: none;
                z-index: -1;
            }
            .kviz-btn a {
                font-size: 23px;
            }
        }
        &__how {
            padding-top: 63px;
            &:before {
                content: "";
                position: absolute;
                top: -24px;
                left: 0;
                width: 110%;
                height: 70px;
                transform: skew(0deg,8deg);
                background: #ff004c;
                border-top: 5px solid #000;
                z-index: 1;
            }
            &:after {
                transform: skew(0deg,-11deg);
            }
            .title {
                margin-bottom: -6px;
            }
            .partners__how p {
                min-height: 98px;
                margin-bottom: 29px;
                padding: 16px 10% 15px 27px;
                &:before, &:after {
                    border-width: 5px;
                    bottom: -39px;
                }
            }
        }
        &__partners {
            padding-top: 95px;
            &-slider {
                width: 95%;
                margin-bottom: 45px;
            }
            .arrow-prev {
                left: -26px;
            }
            .arrow-next {
                right: -28px;
            }
            p {
                font-size: 24px;
            }
            .kviz-btn {
                min-width: 301px;
                a {
                    font-size: 23px;
                }
            }
        }

    }
    .rating {
        .wrap {
            padding: 0 20px;
        }
        &__title {
            &--desctop {
                display: none;
            }
            &--mobile {
                display: block;
            }
        }
        &__body {
            background-color: transparent;
            border: none;
            padding: 0;
        }
        &__item {
            flex-direction: column;
            border: 7px solid #000;
            background: $yellow;
            padding: 10px;
            margin-bottom: 20px;
        }
        &__data {
            display: flex;
            align-items: center;
        }
        &__data--center {
            display: flex;
            text-align: left;
        }
        &__name {
            font-size: 24px;
        }
    }
    .page__header-text--bigger {
        font-size: 18px;
    }
    .index .header .kviz-btn {
        bottom: 18vw;
        left: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .header .page__header-text {
        height: 390px;
    }
    .index {
        .header .page__header-text {
            padding: 20vw 4vw 12vw 30vw;
        }
        &-map {
            width: calc(100% + 20px);
            margin: 0 -10px;
            &__item {
                border-width: 5px;
                &:before {
                    width: 34%;
                    top: -5px;
                    border-width: 5px;
                    transform: skew(4deg,0deg);
                }
                &:after {
                    right: -15px;
                    width: 34%;
                    top: -5px;
                    border-width: 5px;
                    transform: skew(-4deg,0deg);
                }
                &-wrap {
                    padding: 74px 23px 0 40px;

                }
            }
            &__arrow:after {
                top: -38px;
                width: 30px;
                height: 65px;
                border-top-width: 5px;
                border-left-width: 2px;
            }
            &__top {
                align-items: flex-start;
            }
            &__top:nth-child(2) {
                flex-direction: column;
                align-items: flex-start;
            }
            &__name {
                font-size: 24px;;
            }
            &__price {
                flex-grow: 0;
                font-size: 18px;
                .contacts__icon {
                    background-position: -141px 4px;
                    background-size: 418%;
                    width: 44px;
                    height: 29px;
                }
                .index-map__text {
                    white-space: nowrap;
                }
            }
        }
        &__what {
            .wrap:before {
                content: none;
            }
            .title {
                &:before {
                    height: 76px;
                }
                &:after {
                    bottom: -151px;
                    height: 187px;
                
                }
                padding: 24px 0 62px;
            }

        }
  
        &__example {
            &:after {
                top: -23px;
            }
        }
        &__what-items {
            height: 241vw;
        }
        &__what-item {
            background-size: 65%;
            font-size: 14px;
            padding: 74px 91px 61px;
            &:nth-child(1) {
                top: -9%;
                right: -11%;
                padding: 51px 68px 61px;
            }     
            &:nth-child(2) {
                padding: 72px 89px 61px 119px;
                top: 3%;
                right: -12%;
            }   
            &:nth-child(3) {
                top: 17%;
                right: -10%;
                background-size: 60%;
                padding: 74px 91px 61px;
            }   
            &:nth-child(4) {
                top: 31%;
                left: 17%;
                background-size: 66%;
                padding: 74px 91px 61px;
            } 
            &:nth-child(5) {
                top: 46%;
                left: -16%;
                padding: 51px 100px 61px;
                background-size: 61%;

            }
            &:nth-child(6) {
                padding: 63px 117px 61px 71px;
                background-size: 69%;
                top: 57%;
                left: -14%;
            }
            &:nth-child(7) {
                top: 69%;
                left: -10%;
                background-size: 55%;
                padding: 74px 104px 61px;
            }
            &:nth-child(8) {
                top: 79%;
                left: 17%;
                background-size: 59%;
            }
        }
        &__example {
            padding-top: 86px;
            padding-bottom: 90px;
            &:after {
                height: 75px;

            }
            &-slider {
                max-width: 91%;
            }
            &-item {
                &--first {
                    padding: 12vw 20vw 13vw 10vw;
                }
                &--second {
                    padding: 12vw 13vw 9vw 10vw;
                }
                &-third {
                    padding: 12vw 9vw 9vw 17vw;
                }
            }
            .kviz-btn {
                max-width: 202px;
            }
        }
        &__qa {
            padding: 73px 0 42px;
            &:after {
                bottom: -25px;
                height: 57px;
                border-width: 5px;
            }
            &:before {
                border-width: 5px;
            }
        }
        &__vk {
            padding-top: 69px;
            &:after {
                content: "";
                bottom: -59px;
                background: #088cb3;
                border-top: none;
                border-bottom: 5px solid #000;
            }
        }
        &__inst-body {
            max-width: 95%;
            .arrow-prev {
                left: -41px;
            }
            .arrow-next {
                right: -45px;
            }
        }
    }
    .accordeon {
        max-width: 83%;
        margin: 0 auto;
        &__title {
            padding: 10px 0;
            font-size: 18px;
            &:after {
                position: absolute;
                top: 28px;
                right: -16px;
            }
        }
        &__item-wrap {
            border-width: 5px;
            &:after, &:before {
                border-width: 5px;
                top: -5px;
            }
        }
        &__content {
            font-size: 14px;
            padding: 10px 0;
        }
    }
}
@media only screen and (max-width: 520px) {
    .page__directions .slick-slide:nth-child(1) .page__directions-item {
        &:before {
            border-width: 5px;
            right: 0%;
            width: 100%;
        }
        .page__directions-wrap:before {
            top: -20%;
            right: -4%;
            width: 108%;
        }
    }
    .page__directions .slick-slide:nth-child(2) .page__directions-item {
        &:before {
            border-width: 5px;
            top: -12%;
            right: 8%;
            width: 95%;
            height: 148%;
        }
        &:after {
            border-width: 5px;
            right: 0;
            width: 108%;
            height: 204%;
        }
        .page__directions-wrap {
            &:before {
                right: 7%;
                width: 100%;
            }
            &:after {
                right: -3%;
            }
        }
    }
    .page__directions .slick-slide:nth-child(3) {
        .page__directions-wrap {
            padding: 0;
        }
        .page__directions-item {
            width: 280px!important;
            &:before {
                border-width: 5px;
                top: -8%;
                left: -3%;
                width: 99%;
                height: 158%;
                background: linear-gradient(11deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
            }
            &:after {
                border-width: 5px;
                left: -2%;
                width: 100%;
                height: 221%;
                background: linear-gradient(16deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
            }
            .page__directions-wrap:before {
                left: -5%;
                width: 105%;
            }
        }
    }
    .index {
        &__body {
            margin-top: -73px;
            padding: 82px 0 160px;
        }
        .schedule__item {
            padding: 30px;
            
        }
    }
    .city__item { 
        width: 50%;
    }
}
@media only screen and (max-width: 474px) {
    .header .page__header-text {
        height: 359px;
    }
    .partners__whom {
        margin-top: -313px;
    }
    .corporate__img-wrap {
        width: 236px;
    }
    // .corporate__gallery {
    //     width: 270px;
    //     &:before {
    //         width: 96%;
    //         left: -2%;
    //         background: linear-gradient(48deg,#ffee1a 50%,rgba(255,255,255,0) 50%);
    //     }
    //     &:after {
    //         left: -5%;
    //         width: 106%;
    //         background: linear-gradient(48deg,rgba(255,255,255,0) 50%,#ffee1a 50%);
    //     }
    // }
    .corporate__header {
        .wrap {
            background-image: url(../assets/img/bgqa-mob.png);
            min-height: 100vw;
            background-size: 102vw;
        }
        &:before {
            content: none;
        }
        p {
            font-size: 4.2vw;
            padding: 36vw 6vw 1vw 35vw;
        }
    
    }
    .slick-arrow {
        width: 38px;
        height: 29px;
    }
    .arrow-prev {
        left: 40px;
    }
    .arrow-next {
        right: 33px;
    }

}
@media only screen and (max-width: 419px) {
    .header .page__header-text {
        height: 291px;
    }
    .page {
        &__header {
            &-text {
                font-size: 16px;
                padding:  14vw 8vw 2vw 25vw; 
            }
        }
    }
    .city__item {
        width: 100%;
    }
}
@media only screen and (max-width: 374px) {
    .page {
        &__header {
            &-text {
                font-size: 14px;
                padding: 11vw 10vw 2vw 27vw;
            }
        }
    }
    .franchise {
        .page__header-text {
            padding: 14vw 10vw 2vw 29vw;
            height: 310px;
        }
        .page__header .kviz-btn {
            top: -74px;
        }
        .page__header {
            padding-bottom: 27px;
        }
        .page__directions {
            margin-bottom: 26px;
        }
        &__body {
            padding-bottom: 0;
            .wrap {
                padding: 0;
            }
            &:after {
                border-width: 5px;
                bottom: -52px;
            }
        }
        &__video-wrap:before, &__video-wrap:after {
            border-width: 5px;
        }
        .franchise__why {
            padding-top: 55px;
            padding-bottom: 59px;
            &-items {
                font-size: 19px;
                margin-bottom: 0;
            }
            &-item {
                padding-left: 21px;
                min-height: 163px;
                margin: 0 auto 27px;
                align-items: flex-start;
                &:nth-child(odd):before, &:nth-child(even):before { 
                    transform: skew(7deg,0deg);
                }
                p {
                    padding-top: 18px; 
                }
            }
            .kviz-btn a {
                font-size: 25px;
            }
            &-items + .title {
                text-transform: initial;
                margin-bottom: 29px;
            }
        }
    }
    .index__what-items {
        height: 256vw;
    }
    .index__what-item {
        background-size: 60%;
        &:nth-child(1) {
            padding: 51px 95px 61px;
        }
        &:nth-child(3) {
            top: 17%;
            right: -22%;
            background-size: 53%;
            padding: 74px 113px 61px;
        }
        &:nth-child(4) {
            padding: 74px 66px 61px;
        }
        &:nth-child(5) {
            top: 46%;
            left: -25%;
            padding: 51px 100px 61px;
            background-size: 58%;
        }
        &:nth-child(6) {
            background-size: 62%;
            left: -22%;
        }
        &:nth-child(7) {
            left: -18%;
            background-size: 50%;
        }
        &:nth-child(8) {
            top: 78%;
            left: 11%;
            background-size: 54%;
        }
    }
}

@media only screen and (min-width: 1035px) {
    .arrow-prev.arrow-prev--desctop {
        width: 15px;
        height: 15px;
        top: 26px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0) rotate(45deg);
        background-image: none;
        border-left: 4px solid $yellow;
        border-top: 4px solid $yellow;
    }
    .arrow-next.arrow-next--desctop {
        width: 15px;
        height: 15px;
        top: auto;
        bottom: 26px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0) rotate(45deg);
        border-right: 4px solid $yellow;
        border-bottom: 4px solid $yellow;
    }
    // .index__vk-full {
    //     display: none;
    // }
    // .index__vk-nav {
    //     width: 100%;
    // }
}
@media only screen and (min-width: 1370px) {
    .header .page__header-text {
        font-size: 30px;
        // max-width: none;
    }
    .index .header .kviz-btn {
        bottom: 13vw;
        left: auto;
        margin-left: auto;
        margin-right: auto;
    }
}