
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: 'Gilroy', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1364px;
	padding: 0 62px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: $text;
	-webkit-transition: all.6s ease; 
	-moz-transition: all.6s ease;
	-ms-transition: all.6s ease; 
	-o-transition: all.6s ease; 
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		-webkit-transition: all.1s ease; 
		-moz-transition: all.1s ease;
		-ms-transition: all.1s ease; 
		-o-transition: all.1s ease; 
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-title {
	font-weight: 800;
	font-size: 36px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	margin-bottom: 25px
}
.subtitle {
	// font-family: $title-font;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
	letter-spacing: 0.27em;
	color: rgba(62, 70, 83, 0.43);

}
.title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #fff;
	text-align: center;
	text-transform: uppercase;


}
// a.kviz-btn {
// 	color: #fff;
// }
.kviz-btn {
	position: relative;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	padding: 12px 45px;
	margin: 25px auto;
	transition: 0.5s;
	cursor: pointer;
	background: #000;
	border: 1px solid #000;
	min-width: 295px;
    text-align: center;
	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
		color: #000;
	}
}
.items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
@import "sections/nav"; 
@import "sections/contacts"; 
@import "sections/schedule";


// @import "sections/consult";
// @import "sections/events";
// @import "sections/diploms";
@import "sections/footer"; 

@import "media"; // Always at the end
