section.contacts
    .wrap
        h2.title Контакты
        .contacts__body
            ul.contacts__info
                li.contacts__adress
                    .contacts__icon
                    .contacts__item БЦ «Восток» ул. Новый Арбат, 19
                li.contacts__phone
                    .contacts__icon
                    a.contacts__item(href="tel:+79996669966") +7-(999)-666-99-66
                li.contacts__mail
                    .contacts__icon
                    a.contacts__item(href="mailto:kvizzov@gmail.com") 
                        | kvizzov
                        span @
                        | gmail.com
            .contacts__map
                #map