section.page.franchise.corporate
    .page__header 
        .wrap
            .page__header-text 
                .page__header-text--bigger Нужен праздник? 
                p Получите разработку сценария в 3 вариантах
                p и расчет сметы бесплатно!
           .kviz-btn
                a(href="#") Хочу корпоратив!
    .corporate__body 
        .page__directions
            .items.items-slider
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Любой масштаб <br> <span>соберем хоть стадион</span>
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Проектируем мероприятие <br> под вашу задачу
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Работаем <br>без шаблонов        
            
        .wrap
            .title Интеллектуальная битва - командный вид развлечения <br> Поэтому наш формат подойдет:
            .corporate__gallery.corporate-slider
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Корпоративам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/corporate.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Тимбилдингам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/team.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Ко дню рождения
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/bd.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Презентациям
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/prez.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title На мальчишник
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/boys.jpg')")
                .corporate__item-wrap   
                    .corporate__item
                        .corporate__title На девичник
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/girls.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Свадьбам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/wedding.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title На новый год
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/newyear.jpg')")
    .page__header.corporate__header
        .wrap
            p Битва может быть частью мероприятия или мы можем организовать праздник под ключ
    .corporate__qa
        .wrap
            .title Ответьте на 4 вопроса и узнайте стоимость на ваше мероприятие
           .kviz-btn
                a(href="#") Пройти тест

    .corporate__how
        .wrap    
            .title Как проходит игра
            .partners__how
                p 1: Команды от 2-9 человек сидят за столом вкусно кушают и выпивают
                p 2: Мероприятием руководят <br> харизматичные ведущие
                p 3: В игре 7 раундов. Всего 50 вопросов <br> За правильные ответы начисляются очки
                p 4: Вопросы транслируются на экран
                p 5: По окончанию игры команда набравшая  наибольшее количество очков выигрывает
    .corporate__partners    
        .wrap
            .title Нам доверяют
            .corporate__partners-slider
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/yakitor.png", alt="yakitor")
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/killfish.png", alt="killfish")
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/martonez.png", alt="martonez")
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/yotaspace.png", alt="yotaspace")
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/martonez.png", alt="martonez")
                .corporate__partners-wrap
                    .corporate__partners-item
                        img(src="assets/img/partners/yotaspace.png", alt="yotaspace")
            p КВИZZОВ со своей командой спроектирует вопросы под вас, подберет удобную локацию или даже стадион
            .kviz-btn
                a(href="#") Получить КП