section.page.franchise.corporate
    .page__header 
        .wrap
            .page__header-text 
                .page__header-text--bigger Нужен праздник? 
                p Получите разработку сценария в 3 вариантах
                p и расчет сметы бесплатно!
           .kviz-btn
                a(href="#") Хочу корпоратив!
    .corporate__body 
        .page__directions
            .items.items-slider
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Любой масштаб <br> <span>соберем хоть стадион</span>
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Проектируем мероприятие <br> под вашу задачу
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Работаем <br>без шаблонов        
            
        .wrap
            .title Интеллектуальная битва - командный вид развлечения <br> Поэтому наш формат подойдет:
            .corporate__gallery.corporate-slider
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Корпоративам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/corporate.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Тимбилдингам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/team.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Ко дню рождения
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/bd.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Презентациям
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/prez.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title На мальчишник
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/boys.jpg')")
                .corporate__item-wrap   
                    .corporate__item
                        .corporate__title На девичник
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/girls.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title Свадьбам
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/wedding.jpg')")
                .corporate__item-wrap
                    .corporate__item
                        .corporate__title На новый год
                        .corporate__img-wrap
                            .corporate__img(style="background-image: url('assets/img/corporate/newyear.jpg')")
    .page__header.corporate__header
        .wrap
            p Битва может быть частью мероприятия или мы можем организовать праздник под ключ
    //- .corporate__
    //-     .wrap
    //-        .kviz-btn
    //-             a(href="#") Хочу корпоратив!

    //- .franchise__why
    //-     .wrap 
    //-         .title почему франшиза КВИZZОВ без рисков?
    //-         .franchise__why-items
    //-             .franchise__why-item
    //-                 .franchise__why-img
    //-                 p 1.Вы не беспокоитесь «Где брать клиентов?», просто подключаете свой регион и начинаете зарабатывать
    //-             .franchise__why-item
    //-                 .franchise__why-img
    //-                 p 2. Простая и понятная бизнес-модель <br>Вы просто организуете игру в баре, на корпоративе
    //-             .franchise__why-item
    //-                 .franchise__why-img
    //-                 p 3. Вы не «Один на один» с рынком, с вами всегда управляющая компания
    //-             .franchise__why-item
    //-                 .franchise__why-img
    //-                 p 4. Полная поддержка на всех этапах запуска. От скриптов звонка до разработки контента на 3 тыс. человек
    //-             .franchise__why-item
    //-                 .franchise__why-img
    //-                 p 5. База знаний. <br>Даём базовые знания по  event-менеджменту
    //-         .title Узнайтесвободен ли <br> ваш город
    //-         .kviz-btn
    //-             a(href="#") Пройти тест