footer.footer
    .wrap
        ul.footer__menu
            li
                a(href="#" data-menuAnchor="#calc") Расписание
            li
                a(href="#" data-menuAnchor="#history") Рейтинг
            li
                a(href="#" data-menuAnchor="#ideal") СЕРТИФИКАТЫ и АТРИБУТИКА
            li
                a(href="#" data-menuAnchor="#notes") Корпоративы
            li
                a(href="#" data-menuAnchor="#notes") Партнерам
            li
                a(href="#" data-menuAnchor="#contacts") Франшиза
            li
                a(href="#" data-menuAnchor="#contacts") Контакты
        .logo
            a(href="#" data-menuAnchor="#ideal")
                img(src="assets/img/logo.png", alt="logo")
        .social
            a.contacts__icon.ins(href="#")
            a.contacts__icon.vk(href="#") 
            a.contacts__icon.fb(href="#") 
                
        .footer__designed 
            .footer__text Designed & Developed by
            a(href="#" data-menuAnchor="#ideal").footer__logo
                img(src="assets/img/logo-footer.png", alt="logo")
        .rights © 2019 "Квиzzов". Все права защищены.


script(src="assets/js/libs.min.js")
script(src="assets/js/custom.js")
