section.page.franchise
    .page__header 
        .wrap
            .page__header-text 
                p Станьте партнёром квиzzов и зарабатывайте от 100 000 руб/месяц 
                p на увлекательном бизнесе с минимальными вложениями и быстрой окупаемостью
            .kviz-btn
                a(href="#modalFranchise").modal-open Хочу франшизу!
            .kviz-btn.kviz-btn--corporate
                a(href="#").modal-open Скачать презентацию
    .franchise__body 
        .page__directions
            .items.items-slider
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Быстрый старт <br>3 недели до первой игры
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Просто управлять <br> Никакой рутины
                .item.page__directions-item 
                    .page__directions-wrap
                        .page__directions-text Минимум вложений <br>Свои маркетинговые инструменты         
            
        .wrap
            h2.title Благодаря франшизе КВИZZОВ можно зарабатывать развлекаясь
            .franchise__video-shadow
                .franchise__video-wrap
                    .franchise__video
                        iframe(src='https://www.youtube.com/embed/f7zk9qLbSSs' frameborder='0' allow='accelerometer; autoplay; gyroscope; picture-in-picture' allowfullscreen='')
    .franchise__why
        .wrap 
            .title почему франшиза КВИZZОВ без рисков?
            .franchise__why-items
                .franchise__why-item
                    .franchise__why-img
                    p 1.Вы не беспокоитесь «Где брать клиентов?», просто подключаете свой регион и начинаете зарабатывать
                .franchise__why-item
                    .franchise__why-img
                    p 2. Простая и понятная бизнес-модель <br>Вы просто организуете игру в баре, на корпоративе
                .franchise__why-item
                    .franchise__why-img
                    p 3. Вы не «Один на один» с рынком, с вами всегда управляющая компания
                .franchise__why-item
                    .franchise__why-img
                    p 4. Полная поддержка на всех этапах запуска. От скриптов звонка до разработки контента на 3 тыс. человек
                .franchise__why-item
                    .franchise__why-img
                    p 5. База знаний. <br>Даём базовые знания по  event-менеджменту
            .title Узнайте свободен ли <br> ваш город
            .kviz-btn
                a(href="#") Пройти тест