.wrap
	//- header(style="background-image: url('assets/img/header-bg.jpg')")
	nav
		.nav
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					ul
						li
							a(href="#" data-menuAnchor="#calc") Расписание
						li
							a(href="#" data-menuAnchor="#history") Рейтинг
						li
							a(href="#" data-menuAnchor="#ideal") СЕРТИФИКАТЫ и АТРИБУТИКА
						li.logo
							a(href="#" data-menuAnchor="#ideal")
								img(src="assets/img/logo.png", alt="logo")
						li
							a(href="#" data-menuAnchor="#notes") Корпоративы
						li
							a(href="#" data-menuAnchor="#notes") Партнерам
						li
							a(href="#" data-menuAnchor="#contacts") Франшиза
						li
							a(href="#" data-menuAnchor="#contacts") Контакты