
.index
    .header
        .page__header 
            .wrap
                .page__header-text 
                    p Совмести поход в бар 
                    p с развлечением познакомься 
                    p с интересными людьми
                    p и зарядись позитивом :)
                    .header__text Забирай свой билет на первую игру 
                .kviz-btn
                    a(href="#") Забрать подарок
    .page__directions
        .items.items-slider
            .item.page__directions-item 
                .page__directions-wrap
                    .page__directions-text 10 баров в центре <br> <span>выбери любой</span>
            .item.page__directions-item 
                .page__directions-wrap
                    .page__directions-text Нет команды? <br> Мы найдем
            .item.page__directions-item 
                .page__directions-wrap
                    .page__directions-text Победит команда <br>А не самый умный
    .index__body
        .wrap
            .title Ближайшие игры
            .index__soon   
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #228
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #229
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру    
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #230
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #231
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #232
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру
                .schedule__item-wrap
                    .schedule__item
                        .schedule__item-top
                            .schedule__name Квиzzов #233
                        .schedule__place Ресторан "Восход"
                        .schedule__date 28 июня в 20:00
                        .kviz-btn
                            a(href="#") Записаться на игру  
            .index-map 
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #228
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #229
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #230
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #231
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #232
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")
                .index-map__item-wrap
                    .index-map__item
                        .index-map__arrow
                            .index-map__info
                                .index-map__top
                                    .index-map__name [Киномания] #233
                                    .index-map__price 
                                        .contacts__icon
                                        .index-map__text 500 р
                                .index-map__top
                                    .index-map__date 
                                        .contacts__icon
                                        .index-map__text 24 Июня 2019 в 20:00
                                    .index-map__place
                                        .contacts__icon
                                        .index-map__text Chesterfield Bar <br>ул. Новый Арбат, 19
                                .index-map__descr Игра, посвященная кинематографу, для любителей кино и сериалов. 2,5 часа, 7 раундов и много вопросов.
                                .index-map__level Уровень: Новичек
                            .index-map__pic
                                .index-map#index-map(data-map="map")      
            .kviz-btn
                a(href="schedule.html") Полное расписание          
    .index__what
        .wrap
            .title Что такое квиз-игры?
            ul.index__what-items
                li.index__what-item Позитивное атмосфера  и интересное окружение
                li.index__what-item Удобные локации в центре 
                li.index__what-item Классные фотки после игр
                li.index__what-item Нетворкинг
                li.index__what-item 2 - 2.5 часа (3 перерыва по 10 мин.)
                li.index__what-item Ресторанное меню официанты работают в течении всей игры
                li.index__what-item Битва из 7 раундов
                li.index__what-item 50 вопросов
    .index__example
        .wrap
            .title Примеры вопросов
            .index__example-slider
                .index__example-wrap
                    .index__example-item.index__example-item--first
                        .index__example-qa Вопрос 3: «Как называется простанство между  ноздрями?»
                        .kviz-btn
                            a(href="#") Узнать ответ
                .index__example-wrap
                    .index__example-item.index__example-item--second
                        .index__example-qa Вопрос 1: «Угадайте город, который  называют «бетонным раем»
                        .index__example-pic
                            img(src="assets/img/example/examp-pic.jpg", alt="example")
                        .kviz-btn
                            a(href="#") Узнать ответ
                .index__example-wrap
                    .index__example-item.index__example-item--third
                        .index__example-qa Вопрос 2: «Угадайте на  какую песню кавер»
                        .index__example-audio
                            a(href="#")
                        .kviz-btn
                            a(href="#") Узнать ответ
                .index__example-wrap
                    .index__example-item.index__example-item--first
                        .index__example-qa Вопрос 3: «Как называется простанство между  ноздрями?»
                        .kviz-btn
                            a(href="#") Узнать ответ
                .index__example-wrap
                    .index__example-item.index__example-item--second
                        .index__example-qa Вопрос 1: «Угадайте город, который  называют «бетонным раем»
                        .index__example-pic
                            img(src="assets/img/example/examp-pic.jpg", alt="example")
                        .kviz-btn
                            a(href="#") Узнать ответ
                .index__example-wrap
                    .index__example-item.index__example-item--third
                        .index__example-qa Вопрос 2: «Угадайте на  какую песню кавер»
                        .index__example-audio
                            a(href="#")
                        .kviz-btn
                            a(href="#") Узнать ответ
    .index__qa
        .wrap
            .title Часто задаваемые вопросы
            ul.accordeon.index__accordeon
                li.accordeon__item
                    .accordeon__item-wrap
                        .accordeon__title 1: Как оплатить участие? 
                        .accordeon__content
                            p.text «Оплата производится на входе <br> на игру только наличными»
                li.accordeon__item
                    .accordeon__item-wrap
                        .accordeon__title 2: Сколько длится игра? 
                        .accordeon__content
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li.accordeon__item
                    .accordeon__item-wrap
                        .accordeon__title 3: Где посмотреть меню? 
                        .accordeon__content
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li.accordeon__item
                    .accordeon__item-wrap
                        .accordeon__title 4: Во время игры можно заказывать еду и напитки?
                        .accordeon__content
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                li.accordeon__item
                    .accordeon__item-wrap
                        .accordeon__title 4: Во время игры можно заказывать еду и напитки?
                        .accordeon__content
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .index__vk
        .wrap
            .title Подпишитесь на нас Вконтакте и смотрите фотоотчеты
            .index__vk-body-wrap
                .index__vk-body
                    .index__vk-full
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                    .index__vk-nav
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
    .index__inst
        .wrap
            .title Подпишитесь на нас в инстаграмм и следите за новостями
            .index__inst-body
                .index-wrap
                    .index__inst-slider
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")
                        .index__vk-item
                            .index__vk-item-wrap
                                img(src="assets/img/vk-slider/vk1.jpg", alt="vk")