#modalFranchise.modal.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            h3 Оформить франшизу
            .modal__form
                form(action="#")   
                    .form-line
                        input(type='text', name='name', placeholder='Имя контактного лица', required)
                    .form-line
                        input.phone-mask(type='text', name='phone', placeholder='Телефон', required)
                    .form-line
                        input(type='email', name='email', placeholder='Email', required)
                    .form-line
                        input(type='text', name='city', placeholder='Город', required)
                    .form-line
                        input.kviz-btn(type='submit', value='Отправить заявку')
                    .agree-line
                        input#modal__agree1(type='checkbox', checked='', disabled)
                        label(for='#modal__agree1') Нажимая "Отправить", вы соглашаетесь на обработку ваших персональных данных
#modalPartners.modal.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            h3 Стать партнером
            .modal__form
                form(action="#")   
                    .form-line
                        input(type='text', name='name', placeholder='Имя контактного лица', required)
                    .form-line
                        input.phone-mask(type='text', name='phone', placeholder='Телефон', required)
                    .form-line
                        input(type='email', name='email', placeholder='Email', required)
                    .form-line
                        input(type='text', name='city', placeholder='Город', required)
                    .form-line
                        input.kviz-btn(type='submit', value='Отправить заявку')
                    .agree-line
                        input#modal__agree2(type='checkbox', checked='', disabled)
                        label(for='#modal__agree2') Нажимая "Отправить", вы соглашаетесь на обработку ваших персональных данных
#modalCorporate.modal.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            h3 Хочу корпоратив!
            .modal__form
                form(action="#")   
                    .form-line
                        input(type='text', name='name', placeholder='Имя контактного лица', required)
                    .form-line
                        input.phone-mask(type='text', name='phone', placeholder='Телефон', required)
                    .form-line
                        input(type='email', name='email', placeholder='Email', required)
                    .form-line
                        input(type='text', name='city', placeholder='Город', required)
                    .form-line
                        input.kviz-btn(type='submit', value='Отправить заявку')
                    .agree-line
                        input#modal__agree3(type='checkbox', checked='', disabled)
                        label(for='#modal__agree3') Нажимая "Отправить", вы соглашаетесь на обработку ваших персональных данных
#modalGame.modal.modal--game.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            h3 Записаться на игру
            .modal__form
                form(action="#")
                    .firm-line
                        .schedule__item-top
                            .schedule__name Киномания #6
                            .schedule__price 500 р.
                        .schedule__place Ресторан "Восход" 
                        .schedule__date 28 июня в 20:00
                        .schedule__descr Оплата 500 р. при входе наличными.
                        .schedule__descr Детям до 12 лет вход бесплатно
                    .form-line
                        input(type='text', name='team', placeholder='Название команды', required)
                    .form-line
                        input(type='text', name='name', placeholder='Имя контактного лица', required)
                    .form-line
                        input.phone-mask(type='text', name='phone', placeholder='Телефон', required)
                    .form-line
                        input(type='email', name='email', placeholder='Email', required)
                    .form-line
                        select.styled
                            option Количество игроков
                            option 1
                            option 2
                    .form-line
                        select.styled
                            option Откуда вы про нас узнали?
                            option 1
                            option 2
                            option 3
                    .form-line
                        input(type="checkbox" name="first"  value="first" id="first")
                        label(for="first") В первый раз
                    .form-line
                        input(type="checkbox" name="birthday"  value="birthday" id="birthday")
                        label(for="birthday") В команде есть именинники
                    .form-line
                        input(type="checkbox" name="widthout_team"  value="widthout_team" id="widthout_team")
                        label(for="widthout_team") Без команды
                    .form-line
                        input(type="checkbox" name="free_team"  value="free_team" id="free_team")
                        label(for="free_team") Готовы принять игроков
                    .form-line
                        input.kviz-btn(type='submit', value='Записаться на игру')
                    .agree-line
                        input#modal__agree4(type='checkbox', checked='', disabled)
                        label(for='#modal__agree4') Нажимая "Отправить", вы соглашаетесь на обработку ваших персональных данных
                    
#modalGift.modal.disabled
    .modal__wrap.animated.fadeInDown
        .close.modal-close
            svg.t-popup__close-icon(width='23px', height='23px', viewBox='0 0 23 23', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                g(stroke='none', stroke-width='1', fill-rule='evenodd')
                    rect(transform='translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
                    rect(transform='translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) ', x='10.3137085', y='-3.6862915', width='2', height='30')
        .modal__body
            h3 Забрать подарок
            .modal__form
                form(action="#")   
                    .form-line
                        input(type='text', name='name', placeholder='Имя контактного лица', required)
                    .form-line
                        input.phone-mask(type='text', name='phone', placeholder='Телефон', required)
                    .form-line
                        input(type='email', name='email', placeholder='Email', required)
                    .form-line
                        input(type='text', name='city', placeholder='Город', required)
                    .form-line
                        input.kviz-btn(type='submit', value='Отправить')
                    .agree-line
                        input#modal__agree5(type='checkbox', checked='', disabled)
                        label(for='#modal__agree5') Нажимая "Отправить", вы соглашаетесь на обработку ваших персональных данных