nav
	.wrap
		.nav
			.menu-wrap
				.nav__mobile
					.logo
						a(href="index.html" data-menuAnchor="#ideal")
							img(src="assets/img/logo.png", alt="logo")
					.nav__phone 
				.menu-toggle 
					.one
					.two
					.three
				nav.main-menu 
					ul
						li
							a(href="schedule.html") Расписание
						li
							a(href="rating.html") Рейтинг
						li
							a(href="sertificate.html") СЕРТИФИКАТЫ и АТРИБУТИКА
						li.logo
							a(href="index.html")
								img(src="assets/img/logo.png", alt="logo")
						li
							a(href="corporate.html") Корпоративы
						li
							a(href="partners.html") Партнерам
						li
							a(href="franchise.html") Франшиза
						li
							a(href="contacts.html") Контакты
					.nav__city 
						.nav__city-logo
						.nav__city-select Москва