nav
	.wrap
		.nav
			.menu-wrap
				.nav__mobile
					.logo
						a(href="#" data-menuAnchor="#ideal")
							img(src="assets/img/logo.png", alt="logo")
					.nav__phone 
				.menu-toggle 
					.one
					.two
					.three
				nav.main-menu 
					ul
						li
							a(href="schedule.html") Расписание
						li
							a(href="#") Рейтинг
						li
							a(href="#") СЕРТИФИКАТЫ и АТРИБУТИКА
						li.logo
							a(href="#")
								img(src="assets/img/logo.png", alt="logo")
						li
							a(href="corporate.html") Корпоративы
						li
							a(href="#") Партнерам
						li
							a(href="franchise.html") Франшиза
						li
							a(href="#") Контакты
					.nav__city 
						.nav__city-logo
						.nav__city-select Москва