nav
	.wrap
		.nav
			.menu-wrap
				.menu-toggle 
					.one
					.two
					.three

				nav.main-menu 
					.nav__city 
						.nav__city-logo
						.nav__city-select Москва
					ul
						li
							a(href="#" data-menuAnchor="#calc") Расписание
						li
							a(href="#" data-menuAnchor="#history") Рейтинг
						li
							a(href="#" data-menuAnchor="#ideal") СЕРТИФИКАТЫ и АТРИБУТИКА
						li.logo
							a(href="#" data-menuAnchor="#ideal")
								img(src="assets/img/logo.png", alt="logo")
						li
							a(href="#" data-menuAnchor="#notes") Корпоративы
						li
							a(href="#" data-menuAnchor="#notes") Партнерам
						li
							a(href="#" data-menuAnchor="#contacts") Франшиза
						li
							a(href="#" data-menuAnchor="#contacts") Контакты