nav
	.wrap
		.nav
			.menu-wrap
				.nav__mobile
					.logo
						a(href="index.html" data-menuAnchor="#ideal")
							img(src="assets/img/logo.png", alt="logo")
					a(href="tel:+79996669966").nav__phone 

				.menu-toggle 
					.one
					.two
					.three
				nav.main-menu 
					ul
						li
							a(href="schedule.html") Расписание
						li
							a(href="rating.html") Рейтинг
						li
							a(href="sertificate.html") СЕРТИФИКАТЫ и АТРИБУТИКА
						li.logo
							a(href="index.html")
								img(src="assets/img/logo.png", alt="logo")
						li
							a(href="corporate.html") Корпоративы
						li
							a(href="partners.html") Партнерам
						li
							a(href="franchise.html") Франшиза
						li
							a(href="contacts.html") Контакты
					.nav__city.city 
						.city-logo
						.city__text Москва
						ul.city__wrap
							li.city-search
								input(type="search")
							li.city__item Санкт-Петербург
							li.city__item Екатеринбург
							li.city__item Нижний Новгород 
							li.city__item Пермь
							li.city__item Новосибирск
							li.city__item Казань
							li.city__item Челябинск
							li.city__item Краснодар
							li.city__item Самара
							li.city__item Москва
							li.city__item Санкт-Петербург
							li.city__item Екатеринбург
							li.city__item Нижний Новгород 
							li.city__item Пермь
							li.city__item Новосибирск
							li.city__item Казань
							li.city__item Челябинск
							li.city__item Краснодар
							li.city__item Самара
							li.city__item Москва
							li.city__item Санкт-Петербург
							li.city__item Екатеринбург
							li.city__item Нижний Новгород 
							li.city__item Пермь
							li.city__item Новосибирск
							li.city__item Казань
							li.city__item Челябинск
							li.city__item другой город
							li.city__item Краснодар
							li.city__item Самара