section.page.schedule
    .wrap
        .title Расписание игр
        .schedule__filters
            select.styled.schedule__filter 
                option Москва
                option 2
            select.styled.schedule__filter 
                option Все игры
                option 1
                option 2
            select.styled.schedule__filter 
                option 13 июля
                option 1
                option 2
        .schedule__items    
            .schedule__item-wrap
                .schedule__item
                    .schedule__item-top
                        .schedule__name Квиzzов #229
                        .schedule__price 500 р.
                    .schedule__place Ресторан "Восход"
                    .schedule__date 28 июня в 20:00
                    .schedule__descr Вас ждёт настоящее путешествие по  миру любимых с детства историй. В основу вопросов легли самые популярные сказки и мультфильмы
                    .kviz-btn
                        a(href="#") Записаться на