section.page.rating
    .wrap
        .title Рейтинг команд
        .schedule__filters
            select.filter.styled 
                option Москва
                option 2
            select.styled.filter.filter--other 
                option За всё время
                option 1
                option 2
            select.styled.filter
                option Обычные игры
                option 1
                option 2
            select.styled.filter.filter--other  
                option О рейтинге
                option 1
                option 2
            .filter-search-wrap    
                .filter-search.filter--other
                    input.filter(type="search") 
        .rating__body
            ul.rating__title--desctop
                li.rating__data Название команды
                li.rating__data.rating__data--center Игры
                li.rating__data.rating__data--center Баллы
                li.rating__data Титул
            .rating__item
                .rating__data.rating__name
                    span 1. 
                    | "Брянские бобры"
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Игры
                    .rating__count.rating__data 14
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Баллы
                    .rating__count.rating__data 228
                .rating__data    
                    .rating__title--mobile.rating__data Титул
                    .rating__tit.rating__data 
                        .rating__tit-icon
                            img(src="assets/img/icons/crown.png", alt="crown")
                        .rating__tit-text Князь
            .rating__item
                .rating__data.rating__name 
                    span 2. 
                    | "Брянские бобры"
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Игры
                    .rating__count.rating__data 14
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Баллы
                    .rating__count.rating__data 228
                .rating__data    
                    .rating__title--mobile.rating__data Титул
                    .rating__tit.rating__data 
                        .rating__tit-icon
                            img(src="assets/img/icons/crown.png", alt="crown")
                        .rating__tit-text Граф
            .rating__item
                .rating__data.rating__name
                    span 3. 
                    | "Брянские бобры"
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Игры
                    .rating__count.rating__data 14
                .rating__data.rating__data--center
                    .rating__title--mobile.rating__data Баллы
                    .rating__count.rating__data 228
                .rating__data
                    .rating__title--mobile.rating__data Титул
                    .rating__tit.rating__data 
                        .rating__tit-icon
                            img(src="assets/img/icons/crown.png", alt="crown")
                        .rating__tit-text Барон