section.page.schedule
    .wrap
        .schedule__anons
            .schedule__anons-text Долгожданная серия  игр возвращается!
            .schedule__anons-wrap
                .schedule__anons-name квиzzов #229
                .schedule__anons-place Ресторан «Восход»
                .schedule__anons-date 28 июня в 20:00
                .kviz-btn
                    a(href="#modalGame").modal-open Записаться на игру
            .schedule__anons-img
                picture
                    source(srcset="assets/img/anons1.png" media="(min-width: 580px)")
                    img(src="assets/img/anons1-mob.png", alt="anons")
        h2.title Расписание игр
        .schedule__filters
            select.styled.schedule__filter 
                option Москва
                option 2
            select.styled.schedule__filter 
                option Все игры
                option 1
                option 2
            select.styled.schedule__filter.filter--other 
                option 13 июля
                option 1
                option 2
        .schedule__items    
            .schedule__item-wrap
                .schedule__item
                    .schedule__item-top
                        .schedule__logo
                            img(src="assets/img/logo-black.png", alt="logo")
                        .schedule__name Квиzzов #229
                    .schedule__descr Вас ждёт настоящее путешествие по  миру любимых с детства историй. В основу вопросов легли самые популярные сказки и мультфильмы
                    .schedule__part
                        div
                            i.sprite.sprite-placeholder
                            .schedule__place Ресторан "Восход"
                        div
                            i.sprite.sprite-calendar2
                            .schedule__date 28 июня в 20:00
                        div
                            i.sprite.sprite-ruble
                            .schedule__price 
                                span 500 р.
                                | наличными
                    .kviz-btn
                        a(href="#modalGame").modal-open Записаться на игру
            .schedule__item-wrap
                .schedule__item
                    .schedule__item-top
                        .schedule__logo
                            img(src="assets/img/logo-black.png", alt="logo")
                        .schedule__name Квиzzов #229
                    .schedule__descr Вас ждёт настоящее путешествие по  миру любимых с детства историй. В основу вопросов легли самые популярные сказки и мультфильмы
                    .schedule__part
                        div
                            i.sprite.sprite-placeholder
                            .schedule__place Ресторан "Восход"
                        div
                            i.sprite.sprite-calendar2
                            .schedule__date 28 июня в 20:00
                        div
                            i.sprite.sprite-ruble
                            .schedule__price 
                                span 500 р.
                                | наличными
                    .kviz-btn.kviz-btn--blue
                        a(href="#modalGame").modal-open Мест нет
                    .schedule__info На игру нет мест но можно 
                        a(href="#") записаться в резерв!
            .schedule__item-wrap
                .schedule__item
                    .schedule__item-top
                        .schedule__logo
                            img(src="assets/img/logo-black.png", alt="logo")
                        .schedule__name Квиzzов #229
                    .schedule__descr Вас ждёт настоящее путешествие по  миру любимых с детства историй. В основу вопросов легли самые популярные сказки и мультфильмы
                    .schedule__part
                        div
                            i.sprite.sprite-placeholder
                            .schedule__place Ресторан "Восход"
                        div
                            i.sprite.sprite-calendar2
                            .schedule__date 28 июня в 20:00
                        div
                            i.sprite.sprite-ruble
                            .schedule__price 
                                span 500 р.
                                | наличными
                    .kviz-btn.kviz-btn--red
                        a(href="#modalGame").modal-open Регистрация закрыта
                    .schedule__info На игру нет мест, резерв заполнен
            .schedule__item-wrap
                .schedule__item
                    .schedule__item-top
                        .schedule__logo
                            img(src="assets/img/logo-black.png", alt="logo")
                        .schedule__name Квиzzов #229
                    .schedule__descr Вас ждёт настоящее путешествие по  миру любимых с детства историй. В основу вопросов легли самые популярные сказки и мультфильмы
                    .schedule__part
                        div
                            i.sprite.sprite-placeholder
                            .schedule__place Ресторан "Восход"
                        div
                            i.sprite.sprite-calendar2
                            .schedule__date 28 июня в 20:00
                        div
                            i.sprite.sprite-ruble
                            .schedule__price 
                                span 500 р.
                                | наличными
                    .kviz-btn.kviz-btn--grey
                        a(href="#modalGame").modal-open Мало мест
                    .schedule__info На игру осталось мало мест 
                        a(href="#   ") запишите сейчас!