section.schedule
    .schedule__header 
        .wrap
            .schedule__header-text 
                p Каждый вечер 2000 человек учавствуют в наших мероприятиях 
                p аудитория в возрасте 18-50 лет Хотите сотрудничать? 
                p Заполните форму ниже
            a(href="#").kviz-btn Заполните форму
    .schedule__body 
        .schedule__whom
            .wrap.items
                .item.schedule__whom-item 
                    .schedule__text Барам и ресторанам
                    .schedule__icon 
                        img(src="assets/img/icons/beer.png", alt="beer")
                .item.schedule__whom-item 
                    .schedule__text Партнерам
                    .schedule__icon 
                        img(src="assets/img/icons/beer.png", alt="beer")
                .item.schedule__whom-item 
                    .schedule__text Рекламодателям
                    .schedule__icon 
                        img(src="assets/img/icons/beer.png", alt="beer")              
            
        .title Как проходит игра
        .schedule__how
            .schedule__how-item 1: Команды от 2-9 человек сидят за столом вкусно кушают и выпив