section.page.sertificate
    .wrap
        .title Сертификаты и атрибутика
        .subtitle Подарочные сертификаты
        .sertificate__gifts.sertificate__gifts-slider
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать