section.page.sertificate
    .wrap
        h2.title Сертификаты и атрибутика
        .subtitle Подарочные сертификаты
        .sertificate__gifts.sertificate__gifts-slider
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек на 6 человек на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
            .sertificate__gift-wrap
                .sertificate__gift
                    .sertificate__foto
                        img(src="assets/img/gifts/gift.jpg", alt="gift")
                    .sertificate__name Сертификат на 6 человек на 6 человек
                    .sertificate__price 3000 р.
                    .kviz-btn
                        a(href="#") Заказать
        .subtitle Атрибутика
        .sertificate__atribs
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
            .sertificate__atrib-wrap
                .sertificate__gift.sertificate__atrib
                    .sertificate__atrib-foto
                        img(src="assets/img/gifts/atrib.png", alt="gift")
                        